@font-face {
  font-family: 'iconfont'; /* Project id 3489208 */
  src:
    url('//at.alicdn.com/t/c/font_3489208_kwwydn3h95j.woff2?t=1742131930032') format('woff2'),
    url('//at.alicdn.com/t/c/font_3489208_kwwydn3h95j.woff?t=1742131930032') format('woff'),
    url('//at.alicdn.com/t/c/font_3489208_kwwydn3h95j.ttf?t=1742131930032') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-right:before {
  content: '\e68a';
}
